{% extends "UIFIAdminBundle:Dashboard:index.html.twig" %}

{% block  main_content %}
<h4> Integrantes de grupos de Investigaci贸n </h4>
<hr>



<div class="table">
{% if entities  %}
    <div class="well">
       A continuaci贸n se listan los Integrantes de los grupos de Investigaci贸n.
    </div>
    <div id="toolbar">

      <button id="remove" class="btn btn-primary" disabled>
          <i class="glyphicon glyphicon-add"></i> Asignar usuario
      </button>
      <a class="btn btn-success" href="{{ path('admin_integrantes_excel_all')}}"><i class="glyphicon glyphicon-arrow-down"></i> Exportar Excel</a>
    </div>

    <table id="gruplac-table"
        data-toggle="table"
        data-toolbar="#toolbar"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-pagination-switch="true"
        data-pagination="true">
        <thead>
            <tr>
              <th data-field="state" data-checkbox="true"> </th>
              <th data-field="id" data-sortable="true">C贸digo </th>
              <th>Nombres</th>
              <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr data-index="{{loop.index}}">
                <td class="bs-checkbox"><input type="checkbox" name="btSelectItem" data-index="{{loop.index}}"></td>
                <td class="id">{{entity.id}}</td>
                <td>{{entity.nombres}}</td>
                <td>
                   {%if entity.usuario is null  %}
                      Sin asignar
                   {% else %}
                      {{entity.usuario.email}}
                   {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>  <!-- end div tables -->

{% endblock %}
