{% extends "UIFIAdminBundle:Dashboard:index.html.twig" %}

{% block  main_content %}
  <div class="well">
    <p> {{ 'uifi.gruplac.dashboard.statement'|trans }} </p>
  </div>

  <div class="log-success alert alert-success">
    <p class="message"></p>
  </div>

  <div class="log-fail alert alert-danger">
    <p class="messageFail"></p>
  </div>

  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"></div>
  </div>

  <div class="row">
         <div class="col-md-3">
            <!-- <form action="{{path('dasboard_get_informacion')}}"> -->
             <button  id="button-getInformacion" class="btn btn-success">  {{ 'uifi.gruplac.dashboard.buttons.get'|trans }} </button>
           <!-- </form> -->
         </div>

  </div>
  <div class="js-css-import">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-progressbar-3.3.0.min.css')}}">
    <script src="{{ asset('js/bootstrap-progressbar.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/uifigruplacscraper/js/dashboard/progressbar.js') }}"></script>


  </div><!--  end js-css-import-->
{% endblock %}
