
<div class="col-sm-3">
<ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
   <!-- GRUPOS -->
   <li>
     <a onclick="return false" href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">
       <i class="fa fa-users"></i>
        {{'admin.menu.grupos'|trans}}<span class="caret arrow"></span>
      </a>
     <ul class="nav nav-stacked collapse left-submenu" id="item1">
       <li><a href="#">{{'admin.menu.grupos.lista'|trans}}</a></li>
     </ul>
   </li>

   <!-- Usuarios/Integrantes -->
   <li>
     <a onclick="return false" href="#" data-target="#item4" data-toggle="collapse" data-parent="#stacked-menu">
       <i class="fa fa-users"></i>
        {{'admin.menu.usuarios'|trans}}<span class="caret arrow"></span>
      </a>
     <ul class="nav nav-stacked collapse left-submenu" id="item4">
       <li><a href="{{path('admin_director')}}">Directores</a></li>
       <li><a href="{{path('admin_integrantes')}}">Integrantes</a></li>
       <li><a href="{{path('admin_usuarios')}}">Usuarios</a></li>
     </ul>
   </li>

   <!-- PRODUCTOS-->
   <li>
     <a onclick="return false" href="#" data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">
       <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
       {{'admin.menu.productos'|trans}}
       <span class="caret arrow"></span>
     </a>
     <ul class="nav nav-stacked collapse left-submenu" id="item2">
       <li>
           <a href="{{path('gruplac_dashboard')}}"><i class="glyphicon glyphicon-cloud-download"></i>
           {{'admin.menu.productos.automatizado'|trans}}</a>
       </li>
     </ul>
   </li>

   <!-- REPORTES -->
   <li>
     <a onclick="return false" href="#" data-target="#item3" data-toggle="collapse" data-parent="#stacked-menu">
       <span class="fa fa-bar-chart" aria-hidden="true"></span>
        {{'admin.menu.reportes'|trans}}
        <span class="caret arrow"></span>
     </a>
     <ul class="nav nav-stacked collapse left-submenu" id="item3">
       <li><a href="{{path('reportes_articulos')}}"> <i class="fa fa-file-text-o"></i> {{'admin.menu.reportes.articulo'|trans}}</a></li>
       <li><a href="{{path('reportes_libros')}}"> <i class="fa fa-book"></i> {{'admin.menu.reportes.libros'|trans}}</a></li>
       <li><a href="{{path('reportes_capituloslibros')}}"> <i class="fa fa-book"></i> {{'admin.menu.reportes.capituloslibro'|trans}}</a></li>
     </ul>
   </li>



   <!-- CONFIGURACIÓN -->
   <li>
     <a href="#" data-target="#item5" data-toggle="collapse" data-parent="#stacked-menu">
       <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
       {{'admin.menu.configuracion'|trans}}<span class="caret arrow"></span>
     </a>
     <ul class="nav nav-pills nav-stacked collapse" id="item5">
       <!--  configuracion de grupos de investigación-->

       <li> <a href="{{path('admin_configuration_gruplac')}}"> <i class="fa fa-list-alt"></i>{{'admin.menu.configuracion.gruplacs'|trans}}</a></li>
       <li><a href="#"> {{'admin.menu.configuracion.proxy'|trans}}</a></li>
    </ul>

  </li>


  <li> <a href="{{path('logout')}}"> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>{{'admin.menu.salir'|trans}}</a></li>
</ul>
</div>
