
<div class="col-sm-3">
<ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
   <!-- GRUPOS -->
   <li>

    
     <a onclick="return false" href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">
       <i class="fa fa-users"></i>
        {{'admin.menu.grupos'|trans}}<span class="caret arrow"></span>
      </a>
     <ul class="nav nav-stacked collapse left-submenu" id="item1">
       <li><a href="#">{{'admin.menu.grupos.lista'|trans}}</a></li>
     </ul>
   </li>

   <!-- PRODUCTOS-->
   <li>
     <a onclick="return false" href="#" data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">
       <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
       {{'admin.menu.productos'|trans}}
       <span class="caret arrow"></span>
     </a>
     <ul class="nav nav-stacked collapse left-submenu" id="item2">
       <li>
           <a href="#"><i class="glyphicon glyphicon-cloud-download"></i>
           {{'admin.menu.productos.automatizado'|trans}}</a>
       </li>
     </ul>
   </li>

   <!-- REPORTES -->
   <li>
     <a onclick="return false" href="#" data-target="#item3" data-toggle="collapse" data-parent="#stacked-menu">
       <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        {{'admin.menu.reportes'|trans}}
        <span class="caret arrow"></span>
     </a>
     <ul class="nav nav-stacked collapse left-submenu" id="item3">
       <li><a href="#"> {{'admin.menu.reportes.articulo'|trans}}</a></li>
     </ul>
   </li>

   <!-- CONFIGURACIÓN -->
   <li>
     <a href="#" data-target="#item4" data-toggle="collapse" data-parent="#stacked-menu">
       <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
       {{'admin.menu.configuracion'|trans}}<span class="caret arrow"></span>
     </a>
     <ul class="nav nav-pills nav-stacked collapse" id="item4">
       <!--  configuracion de grupos de investigación-->

       <li><a href="#"> {{'admin.menu.configuracion.gruplacs'|trans}}</a></li>
    </ul>
  </li>
  <li> <a href="/logout"> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>{{'admin.menu.salir'|trans}}</a></li>
</ul>
</div>
