{% extends "UIFIAdminBundle:Dashboard:index.html.twig" %}


{% block  main_content %}


<h3>{{'reportes.articulos.title'|trans }} </h3>
<hr>
<div class="formulario">
  <div class="well"> {{'reportes.articulos.enunciado'|trans}}</div>
  <div class="fields-form">
    <form method="POST" action="{{path('reportes_articulos_filtro')}}">

        <div class="form-group">
          {{ form_label(form.grupo,'Seleccione un grupo de Investigación') }}
          {{ form_errors(form.grupo) }}
          {{ form_widget(form.grupo,  { 'attr': {'class': 'form-control' }} ) }}
         </div>
        <input  class="btn btn-success" type="submit" id="submit-filter" name="submit-filter" value="Generar reporte" />
    </form>
  </div>
</div>
<div class="js-css-import-reportes-articulos">
  <script src="{{ asset('bundles/uifireportes/js/articulos/filter.js') }}"></script>
</div><!--  end js-css-import-->
{% endblock %}
