<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ asset('css/menu.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/footer.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/bootstrap-select.min.css') }}" type="text/css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/bootbox.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.validator.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap-table.min.js') }}"></script>
  <script src="{{ asset('js/jquery.donetyping.js') }}"></script>
  <script src="{{ asset('js/bt-select/bootstrap-select.min.js') }}"></script>




  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script src="{{ asset('js/jstranslate.js') }}"></script>

</head>

<body>
    <div class="container">
      <header class="masthead">
          <div class="row">
            <h1>{{ 'uifi.title'|trans }}
            <p class="lead">{{'uifi.universidad'|trans}}</p></h1>
          </div>

          <div class="row">
              {% embed "UIFIAdminBundle::navbar.layout.html.twig" %}
              {% endembed %}
          </div>
<!--
          <div>
            <p><b>Usuario:</b> {{app.user.email}}</p>

            <p><b>Roles:</b>
            {% for rol in app.user.roles %}
              {% if rol!='ROLE_USER' %}
                {{rol}}
              {% endif %}
            {% endfor %}
            </p>
          </div>
-->
      </header>
      <hr>
      <div class="row">
            <div class="">
             {% block main_content %}
                  <div class="well">
                    Desde el panel de administraci칩n podr치 tener acceso a las
                    siguientes funcionalidades.
                  </div>
                  <div>
                    <ul>
                      <li>Gesti칩n de usuarios</li>
                      <li>Productos de Investigaci칩n</li>
                      <li>Reportes</li>
                    </ul>
                  </div>
                  <div class="imagenes">
                  </div>
             {% endblock %}
            </div>

      </div><!--  endrow-->

      <!-- {% block footer %}
        <footer>
             <p>Developed by  Cristian Chaparro Contact information:
               <a href="mailto:cristianchaparroa@gmail.com">cristianchaparroa@gmail.com</a>
             </p>
             <p> MIT License</p>
        </footer>

      {% endblock %} -->
    </div><!-- end container -->
</body>
</html>
