{% extends "UIFIAdminBundle:Dashboard:index.html.twig" %}

{% block  main_content %}
    <h4>{{'uifi.gruplac.configuracion.gruplac.title'|trans}}</h4>
    <hr>

    <div class="well">
      {{'uifi.gruplac.configuracion.gruplac.panel'|trans}}
    </div>

    <div  id="crear-msuccess" class="alert alert-success">
    </div>

    <div class="table">
    {% if entities  %}

    <p> {{'uifi.gruplac.configuracion.gruplac.enunciado'|trans}}</p>

    <div id="toolbar">
      <button id="remove" class="btn btn-danger" disabled>
      <i class="glyphicon glyphicon-remove"></i> Delete
      </button>
    </div>
    <table id="gruplac-table"
        data-toggle="table"
        data-toolbar="#toolbar"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-pagination-switch="true"
        data-pagination="true">
        <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="id" data-sortable="true">Código Gruplac </th>
              <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr data-index="{{loop.index}}">
                <td class="bs-checkbox"><input type="checkbox" name="btSelectItem" data-index="{{loop.index}}"></td>
                <td >{{entity.id}}</td>
                <td>{{entity.nombre}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>

  <div class="buttons">

      <button id="btn-agregar-gruplac"class="btn btn-success" data-toggle="modal" data-target="#agregarGruplacDialogo">
       {{'uifi.gruplac.dashboard.buttons.agregargruplac'|trans}}
      </button>

    </div>

     <div  style="display: none;"  class="modal fade" id="agregarGruplacDialogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Agregar GrupLAC</h4>
               </div>
               <div class="modal-body">
                     {% embed "UIFIGrupLACScraperBundle:Gruplac:new.html.twig"  %}
                     {% endembed %}
               </div>
         </div>
       </div>
     </div>


     <div class="js-css-import">
        <script src="{{ asset('js/jstranslate.js') }}"></script>
        <script src="{{ asset('bundles/uifigruplacscraper/js/gruplac/index.js') }}"></script>
     </div>
{% endblock %}
