
  <div class="well">
  <p> {{'uifi.gruplac.configuracion.gruplac.new.info'|trans}} <b> {{'uifi.gruplac.configuracion.gruplac.new.code'|trans}}</b>
  </div>
  <div class="alert alert-info">
    <p> {{'uifi.gruplac.configuracion.gruplac.new.codeinfo'|trans}} </p>
  </div>
  <form>
    <div class="form-group">
      <input id="gruplac" type="number" class="form-control"
        placeholder="{{'uifi.gruplac.configuracion.gruplac.new.placeholder'|trans}}"></input>
      <div id="fail" class="alert alert-danger"></div>
    </div>
      <button id="crear" class="btn btn-success"> {{'uifi.gruplac.dashboard.buttons.creargruplac'|trans}}</button>
  </form>

<div class="js-css-import">
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
</div>
